@font-face {
  font-family: "Consolas Regular";
  src: local("Consolas Regular"), url(/fonts/CONSOLAS_REGULAR.TTF) format("truetype");
}

@font-face {
  font-family: "Consolas Bold";
  src: local("Consolas Bold"), url(/fonts/CONSOLAS_BOLD.TTF) format("truetype");
}

body{
  margin: 0;
  padding: 0;
  background-color: #292d3e;
}