.container{
  background-color: #292d3e; 
}

.container .main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container .main .info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 1100px;
}

.container .main .left{
  flex: 0.5;
} 

.container .main .left .name{
  font-size: 60px;
  font-family: "Consolas Bold";
  color: #c792ea;
  display: flex;
  gap: 20px;
  margin: 0;
}

.container .main .left .role{
  font-size: 25px;
  font-family: "Consolas Regular";
  color: #89ddff;
  margin-bottom: 20px;
}

.container .main .left .badge{
  font-size: 13px;
  font-family: "Consolas Regular";
  color: #ffcb6b;
  background-color: #32374c;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container .main .left .description{
  font-size: 19px;
  line-height: 30px;
  font-family: "Consolas Regular";
  color: #676e95;
  margin: 0;
}
.container .main .left .comment{
  font-size: 18px;
}

.container .main .right{
  flex: 0.5;
}




.comment{
  font-size: 20px;
  font-family: "Consolas Regular";
  color: #676e95;
  margin: 0;
}
.comment::before{ content: "//"; margin-right: 10px;}

.code{ color: #adb4c4; margin: 0; }
.code .purple{ color: #c792ea; }
.code .blue{ color: #89ddff; }
.code .yellow{ color: #ffcb6b; }
.code .red{ color: #e1426c; }
.code .green{ color: #c3e88d; }
.code .orange{ color: #f78c65; }
